$black-normal: #2f3542;

$white-light: #ffffff;
$white-normal: #f1f2f6;
$white-dark: #dfe4ea;

$green-light: #7bed9f;
$green-normal: #2ed573;

$blue-light: #70a1ff;
$blue-normal: #1e90ff;

$red-light: #ff6b81;
$red-normal: #ff4757;